body {
    background-color: rgb(238, 204, 210);
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
    display: flex;
    justify-content: center;
    font-size: 40;
}

#outros {
    display: flex;
    width: 200px;
    height: 200px;
    object-fit: cover;
    justify-content: flex-end;
}

#fig_animais {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.animais {
    width: 200px;
    height: 200px;
    padding: 10px;
    object-fit: contain;
    transition: transform 0.5s ease;
}

#fig_animais img:hover {
    transform: scale(1.3);
    background-color: palevioletred;
    border-radius: 10%;
}

#cadastro {
    display: flex;
    justify-content: center;
    padding: 50px;
}